button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
    cursor: pointer;
}

input {
    height: 100%;
    border-radius: 8px;
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}

form {
    display: flex;
    height: 55px;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
}