// __variables.scss

// Colores
$color-background: #f8f9fa;
$color-primary: #007bff;
$color-secondary: #025157;
$color-success: #a1d683;
$color-text-dark: #333;
$color-text-light: #8b8b8bcc;
$color-grey: #b6b6b6;
$color-light-grey: #dadada;

// Espaciado
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;

// Tamaños
$logo-height: 60px;
$input-width: 60%;
$input-max-width: 250px;
$feature-card-height: 330px;